#wraper{width:1100px;padding-left:30px;border-left:1px solid #ccc;margin:0 auto;margin-left:160px;overflow: hidden}
#wraper h1{margin:70px 0 30px 0;height:40px;line-height:40px;font-size:26px;text-align:center;}

/*收货人信息*/
.buy_receive{width:1100px;border:1px solid #ccc;margin-bottom:10px;}
#wraper h2{height:40px;line-height:40px;text-indent:30px;background:#f4f4f4;color:#6f6f6f;border-bottom:1px solid #ccc;}
.buy_receive .allMsg{padding:20px 0 20px 30px;font-size:14px;}
.buy_receive .oneMsg{margin-bottom:15px;}

.buy_receive .oneMsg .nickName{padding:0 20px;height:28px;display: inline-block;text-align:center;line-height:28px;border:1px solid #000;background:url(../images/select_icon.png) right bottom no-repeat;}

.buy_receive .oneMsg .bord{padding:0 20px;height:28px;display: inline-block;text-align:center;line-height:28px;border:1px solid #000;}

.addAddress a{display: inline-block;height:28px;padding:0 15px;border:1px solid #e2e2e2;line-height:28px;color:#2b2b2b;font-size:12px;}
.addAddress .down_arr{background:url(../images/arrow_sprite.png) right top no-repeat;padding-right:30px;margin-right:15px;}

/*配送方式/时间*/
.distribution{border:1px solid #ccc;width:1100px;margin-bottom:10px;}
.distribution .dis_detail .yuant{padding:20px 0 20px 30px;border-bottom:1px dashed #ccc;}
.distribution .dis_detail .yuant p{line-height: 38px;height:38px;}

.distribution .dis_detail ._reduce p{line-height: 22px;}
.distribution .dis_detail ._reduce{padding:20px 0 20px 30px;}

/*支付方式*/
.payway{border:1px solid #ccc;width:1100px;margin-bottom:10px;}
.payway .alipay{padding:20px 0 20px 30px;}
.payway .alipay .alipay_logo{padding:0 20px;line-height:28px;height:28px;text-align:center;border:1px solid #000;display: inline-block;background:url(../images/select_icon.png) right bottom no-repeat;margin-right:16px;}

/*订货信息*/
.dinghuo_msg{border:1px solid #ccc;width:1100px;color:#6f6f6f;}
.dinghuo_msg .buy_body{border-bottom:1px dashed #ccc;margin-bottom:-1px;}
.dinghuo_msg .buy_body a img{float:left;margin:10px 18px 10px 30px;width: 84px;height:116px;}
.dinghuo_msg .buy_body_detail{width:500px;float:left;height:137px;}
.dinghuo_msg .buy_body_detail p{line-height:22px;}
.dinghuo_msg .buy_body_detail .pinming{margin-top:20px;}
.dinghuo_msg .buy_body_detail .manao{color:#2b2b2b;}

.color_size{width:200px;height:137px;float:left;line-height:137px;}
.how,.qian{width:120px;height:137px;float:left;line-height:137px;}
.qian{color:#2b2b2b;}

/*===   金额计算   ==*/
.dingdan_money{width:1100px;border:1px solid #ccc;border-top:0;}
.je li{height:40px;line-height: 40px;border-bottom:1px solid #ccc;}

.je .bt_none{margin-bottom:-1px;}

.je li p{width:190px;padding-left:60px;background:url(../images/item_icon.png) 35px center no-repeat;float:left;}
.je li span{display: inline-block;width:140px;float:right;}
.dingdan_money .je a{color:#2b2b2b;}
.dingdan_money .je div{width:700px;float:left;color:#2b2b2b;}
.dingdan_money .je div em{font-weight:100;color:#2b2b2b;}
.dingdan_money input{width:38px;height:28px;margin-top:5px;text-align:center;}

.oh_h2{height:40px;line-height:40px;text-indent:30px;background:#f4f4f4;color:#6f6f6f;border:1px solid #ccc;border-top:0;}
.oh_h2 span{width:160px;height:40px;float:right;text-align:left;line-height:40px;color:#ff4343;}

.payIt{margin:20px 0 100px 0;}
.payIt a{display: inline-block;width:198px;height:40px;text-align:center;line-height:48px;color:#fff;margin-left:20px;}
.payIt .return{background:#aeaeae;}
.payIt .rightnow{background:#3e3e3e;}


/*-=========  添加地址弹窗  ============-*/

.overlay{width:100%;height:100%;background:rgba(0,0,0,.4);position:fixed;left:0;top:0;display:none;}
#popover{width:650px;height:400px;border:1px solid #ccc;position:fixed;left:50%;top:50%;margin-left:-325px;margin-top:-225px;background:#fff;}
#popover .title{width:648px;height:40px;background:#f4f4f4;text-indent:20px;line-height:40px;}
#popover .someOne{width:500px;height:300px;margin:40px auto;}
#popover .someOne .name{width:500px;height:46px;line-height:46px;position: relative;vertical-align: middle;margin-bottom:10px;}
#popover .someOne .name input{position:absolute;left:78px;height:30px;width:330px;vertical-align: middle;line-height:30px;top:10px;text-indent:14px;letter-spacing: 3px;border:1px solid #ccc;}
#popover .someOne .info{position:absolute;left:78px;height:30px;width:330px;vertical-align: middle;top:0;}

.cer{width:500px;height:46px;line-height:46px;}
.baocun{width:100px;height:28px;background:#ccc;margin:0 auto;text-align:center;border:1px solid #2b2b2b;margin-left:80px;cursor:pointer;}

.error{width:40px;height:40px;font-size:40px;line-height:40px;position: absolute;right:0;top:0;text-align:center;}
.error:hover{background:red;cursor:pointer;}