


/*========= 轮播图片区  ==========*/

#main_top{
/*    background:#abcdef;*/
    width:100%;

}
#main_top .main_pic{
    width:1100px;
    left:158px;
    position: relative;

}
.main_pic .left_pic{
    width:240px;
    height:549px;
    float:left;
}
.main_pic .right_pic{
    width:240px;
    height:549px;
    float:right;
}

.mian_pic .mv1,.mian_pic .green{
    width:100%;
    height:100%;
}

.main_pic .lunbo{
    width:618px;
    height:552px;
    overflow: hidden;
    float:left;
    margin:0 1px;
    position: relative;
}
.main_pic .lunbo ul{
    width:618px;
    height:552px;
}
.main_pic .lunbo ul li{
    width:618px;
    height:552px;
}

.main_pic .lunbo img{
    width:100%;
    height:100%;
}

.lunbo .btns{
    position: absolute;
    bottom:10px;
    text-align: center;
    width:100%;
}
.main_pic .btns span{
    display:inline-block;
    width:50px;
    height:20px;
    line-height: 22px;
    text-align: center;
    margin-left: 4px;
    background:rgba(0,0,0,.3);
    font-size: 20px;
    border-radius:15px;
    color:#fff;
    cursor:pointer;
}
.main_pic .btns .active{
    background:#fff ;
    color:#000;
}

.bt_pic{
    width:1100px;
    height:330px;
    float:left;
}
.bt_pic li{
    float:left;
    height:330px;
    position:relative;
}
.bt_pic li img{
    width:100%;
    height:100%;
}
.bt_pic .li1{
    width:377px;
    margin-right:1px;
}
.bt_pic .li2,.bt_pic .li3{
    width:240px;
    margin-right:1px;
}
.bt_pic .li4{
    width:240px;
    margin-right:0;
}


.bt_pic .pos1{
    width:377px;
    height:80px;
    background:rgba(0,0,0,.4);
    color:#fff;
    position:absolute;
    bottom:0;
    display: none;
}
.bt_pic .pos1 span{
    display: block;
    text-align:center;
    line-height:20px;
}
.bt_pic .pos2{
    width:240px;
    height:80px;
    background:rgba(0,0,0,.4);
    color:#fff;
    position:absolute;
    bottom:0;
     display: none;
    text-align:center;
}
.bt_pic .pos2 span{
    display: block;
    /*text-indent:26px;*/
    line-height:20px;
}

/*\=====  左侧边列表  ======*/

#left_pos{
    width:144px;
    position: absolute;
    left: -157px;
    top:0;
    border-right:1px solid #ccc;
    text-indent:25px; 
    padding-bottom:83px;
}
#left_pos .new{
    font-size:16px;
    width:144px;
    height:49px;
    line-height:49px;
    border-bottom:1px solid #ccc;
    background:url(../images/new.gif) 107px center no-repeat;
}


#left_pos .new_goods,#left_pos .goods_list{
    width:144px;
    margin-top:26px;
}

#left_pos .new_goods li,#left_pos .goods_list li{
    line-height:24px;
    font-size:14px;
}
#left_pos .new_goods .best_good{
    color:#ff5050;
}
#left_pos .goods_list .meizhuang span{
    font-size:14px;
    color:#ff5050;
    font-style:italic;
}
#left_pos .star{
    font-size:14px;
    width:144px;
    height:46px;
    line-height:46px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    margin-top:26px;
}
#left_pos .model{
    font-size:14px;
    width:144px;
    height:46px;
    line-height:46px;
    border-bottom:1px solid #ccc;
    margin-bottom:26px;
}

#left_pos .pic_one{
    width:144px;
}
#left_pos .pic_one img{
    display: block;
    width:144px;
    height:220px;
    margin-top:20px;
}

.five_pic{
    width:1100px;
    height:220px;
    position:relative;
    left:158px;
    margin-top:50px;
}
.five_pic li{
    width:219px;height:219px;float:left;margin-right:1px;
}
.five_pic li img{
    display: block;
    width:219px;
    height:219px;
}


/*====== 产品页面 ======*/
#main{
    width:1100px;
    position:relative;
    left:145px;
    padding-left:33px;
    border-left:1px solid #ccc;
}
#main h2{
    font-size:16px;
    text-align:center;
    padding:50px 0;
    font-weight:none;
}

#main .newArr{
    width:1100px;
    margin-bottom:15px;
}
#main .newArr li{
    width:240px;
    height: 460px;
    margin:24px 46px 24px 0;
    float:left;
}
#main .newArr .clear{
    margin-right:0;
}

#main .newArr li img{
    width:240px;
    height:330px;
    display: inline-block;
    margin-bottom:14px;
}

#main .newArr .new_product{
    width:240px;height:26px;line-height:26px;
}
#main .newArr .new_product span{
    display: inline-block;
    width:35px;
    text-indent:-100px;
    overflow: hidden;
    background:url(../common/icon_sprite.png) 0 -66px no-repeat;
}
#main .newArr .korea,#main .newArr .xianglian,#main .newArr .english{
    height:15px;
    margin-bottom:8px;
}
#main .newArr .korea a{
    font-size: 12px;
}
#main .newArr .xianglian a{
    font-size: 14px;
}
#main .newArr .price em{
    text-decoration:line-through;
}
#main .newArr .price span{
    color:#ff5050;
}


/*=======  底部 =========*/

#official{
    width:100%;
    
}
#official img{
    display: inline-block;
    width:1100px;
    height:220px;
    margin:0 0 40px 130px;
}

#footer{
    width:100%;
    height:440px;
    
    border-top:1px solid #ccc;
}
#footer .foot_main{
    width:1100px;
    height:246px;
    padding-top:60px;
    padding-bottom:28px;
    border-bottom:1px solid #ccc;
    margin:0 auto;
}
#footer .foot_main .foot_left{
    width:443px;
    height:248px;
    border-right:1px solid #ccc;
    float:left;
}
#footer .foot_main .foot_left .allCenter{
    font-size:14px;
    color:#ccc;
}
#footer .foot_main .foot_left h3{
    font-size:24px;
    line-height:40px;
}

#footer .foot_main .restTime,#footer .foot_main .returnAdress{
    line-height:18px;
    font-size:14px;
    margin:10px 0;
    color:#000;
}
#footer .foot_main .address{
    width:420px;
    line-height:18px;
    font-size:12px;
    color:#999;
    margin-top:18px;
}
#footer .foot_main .police{
    width:420px;
    line-height:18px;
    font-size:12px;
    color:#999;
}



#footer .foot_main .foot_right{
    width:655px;
    height:230px;
    float:left;
}

#footer .foot_main .newMan{
    width:90px;
    margin-left:45px;
    float:left;
}
#footer .foot_main .newMan h3{
    
    font-size:14px;
    line-height:44px;
}   
#footer .foot_main .newMan ul{
    padding-top:10px;
}
#footer .foot_main .newMan ul li{
    line-height:24px;
}

#footer .foot_main .newMan ul li a{
    font-size:12px;
    color:#999;

}
#footer .foot_main .another{
    width:60px;
}

#footer .fr_bot{
    width:655px;
    height:106px;
    
}
#footer .fr_bot .ipt{
    width:380px;
    margin-left:45px;
    margin-top:60px;
    float:left;
}
#footer .fr_bot .ipt .ilove{
    display:inline-block;
    height:46px;
    line-height:46px;
    text-align:center;
    background:#999;
    color:#fff;
    padding:0 8px;
    font-weight:bold;
    float:left;
    margin-right:4px;
}
#footer .fr_bot .ipt .nono{
    margin-right:0;
}
#footer .fr_bot .ipt input{
    width:145px;
    height:16px;
    padding:14px 15px;
    border:0;
    border:1px solid #ccc;
    float:left;
}
#footer .fr_bot .ipt .dingyue{
    display:inline-block;
    height:46px;
    line-height:46px;
    text-align:center;
    background:#999;
    color:#fff;
    padding:0 12px;
    font-weight:bold;
    float:left;

}
#footer .fr_bot  .point{
    width:180px;
    border:1px solid #ccc;
    margin-top:60px;
    float:right;
    height:44px;
    padding-left:20px;
}
#footer .fr_bot  .point p{
    line-height:22px;
    height:22px;
    color:#999;
}

.foot_pic{
    width:1100px;
    /*height:102px;*/
    padding:30px 0;
    margin:0 auto;
}
.foot_pic a{
    float:left;
    width:124px;
    height:41px;
    margin:0 2px;
}
.foot_pic a img{
    width:100%;
    height:100%;
}

