.shop_logo{width:100%;height:135px;background:#fff;}
.shop_logo .shop_kede{width:998px;margin:0 auto;padding-top: 20px;height:80px;}
.shop_kede h1{width:195px;height:56px;float:left;}
.shop_kede h1 a{width:100%;height:100%;}
.shop_kede .mycar{width:90px;height:57px;float:left;line-height:57px;font-size:18px;color:#666;margin-left:20px;margin-top:15px;}


.shop_kede .three_step{width:490px;height:80px;float:right;}
.shop_kede .three_step .bck{height:29px;background:url(../images/step.png) no-repeat;overflow: hidden;margin-top:10px;}
.shop_kede span{color:#666;width:160px;height:20px;float:left;text-align:center;line-height:20px;margin-top:10px;}
/*.shop_kede .car_3{margin-left:16px;}*/



/*=======  物品选择区域   ==========*/
.contain_main{width:100%;background:#fff;}

.nit{width:996px;margin:0 auto;position:relative;}

.contain_main .contain_box{border:1px solid #ccc;width:996px;margin:0 auto;}

.contain_main .goodList{width:996px;height:30px;line-height:30px;background: #f9f9f9;display: none;margin:0 auto}
.contain_main .goodList li{float:left;text-align:center;}
.contain_main .goodList li div{width:140px;height:30px;}
.contain_main .goodList .operation{width:134px;}

.contain_main .goodList .product{width:420px;text-indent:-50px}
.cart_null{width:989px;padding-top:10px;line-height:20px;}

.cart_null_next{width:400px;margin:50px 0 0 320px;font-size:14px;}
.cart_null_next i{display: inline-block;width:43px;height:38px;background:url(../common/tubiao.png) -337px -357px no-repeat;float:left;margin-right:20px;}
.cart_null_next a{color:#690;font-size:12px;}

/*结算*/

.jjj{width:990px;}

.jiesuan{float:left;width:494px;position: relative;margin-top:20px;border:1px solid #ccc;height:41px;line-height:41px;}
.jiesuan .ticket_i{width:15px;height:15px;cursor: pointer;margin:13px 10px 0 20px;background:url(../common/tubiao.png) -89px -911px no-repeat;float:left;}
.jiesuan .youhui{float:left;}
.jiesuan .ticket_select{width:240px;height:22px;border:1px solid #ccc;float: left;margin:8px 15px 0 15px;}
.jiesuan .ticket_select_i{width:22px;height:22px;background:url(../common/tubiao.png) -124px -911px no-repeat;float:right;}
.jiesuan .ticket_select_ipt{width:217px;height:22px;float:left;border:0;text-align: center;}
.jiesuan .sure{width:70px;height:24px;float:left;margin-top:8px;background: #f63;color:#fff;text-align:center;border-radius:4px;line-height:24px;}

.lb{width:100px;float:right;margin-top:30px;font-size:14px;font-weight:700;letter-spacing:8px;}
.lb input{padding-right:14px;}

/*======  计算位置   ======*/
.account{width:990px;margin-top:40px;text-align:right;color:#666;margin:0 auto}
.total_good{height:24px;text-align:right;}
.total_good .total_mn{float:right;width:120px;}
.total_good .total_price{float:right;width:90px;}
.total_good  .total_ge{float:right;}

.sales,.liquan{width:990px;height:24px;text-align:right;}
.sales .jiage,.liquan .jiage{width:120px;float:right;}
.sales .cuyou,.liquan .cuyou{float:right;}
.jiage{color:#f63;}

.qujiesuan{width:990px;padding:15px 0 8px 0;border-top:1px solid #ccc;margin-top:15px;line-height:40px;margin:0 auto}
.qujiesuan .go_js{float:right;width:190px;height:34px;line-height:34px;background:#f63;text-align:center;color:#fff;font-size:16px;border-radius:4px;cursor:pointer;}
.qujiesuan .go_js i{font-size:16px;color:#fff;line-height:34px;font-weight:100;}

.qujiesuan .zj{float:right;}
.qujiesuan .zj label{font-size:14px;color:#f63;}
.qujiesuan .zj .total_money{font-size:20px;color:#f63;margin-right:20px;}


/*=======  猜你喜欢 推荐  ========*/
.recomment{width: 100%;background:#fff;height:350px;padding:49px 0 80px 0;}
.bao{width:990px;height:326px;margin:30px auto 0 auto;overflow:hidden;position:relative;}
.tuijian_good{width:988px;height:260px;position:absolute;top:29px;left:0;margin:29px auto 50px auto;border:1px solid #ccc;}
.tuijian_good .many{left:0;top:0;position:absolute;height:260px;}
.tuijian_good .many li{height:230px;width:187px;float:left;padding:0 5px 30px 5px;height:260px;}

.tuijian_good .many li ._blank{color:#333;}
.tuijian_good .many li ._blank img{width:180px;height:180px;margin:0 3px;}
.tuijian_good .many li .jge{color:#f63;text-align:center;}
.tuijian_good .many li .jieshao{height:40px;font-size:12px;text-align:center;line-height:20px;}
.tuijian_good .many li .jieshao a{color:#333;}

.lie{position:absolute;left:-1px;top:-30px;border-left:1px solid #ccc;}
.lie li{width:98px;height:28px;line-height:28px;text-align:center;border:1px solid #ccc;float:left;border-left-width:0;}
.lie .guss{border-bottom-color:#fff;border-left-width:0;color:#f64;font-weight:800;}

.leftArrow,.rightArrow{position:absolute;width:20px;height:40px;top:50%;left:0;background:rgba(0,0,0,.2);line-height:40px;text-align:center;font-size:16px;color:#fff;margin-top:-20px;}
.rightArrow{right:0;left:auto;}


/*=========   添加进来的物品的样式 cookie得到    ===========*/

.list_promote{width:989px;border-bottom:1px dashed #ccc;margin-bottom:-1px;overlow:hidden;}
.list_promote .left_div{width:220px;height:135px;float:left;overflow: hidden;}
.list_promote .ipt_checkbox{margin:65px 55px 0 12px;float:left;}
.list_promote .cpImg{width:86px;height:112px;margin-top:12px;float:left;}
.list_promote .jsh{width:220px;height:135px;margin-left:15px;float:left;font-size:13px;}

.list_promote .good_name{margin-top:20px;}
.list_promote .jsh p{line-height:26px;}
.list_promote .good_size{color:#999;}

.list_promote .three_a a{display: inline-block;width:28px;height:28px;border:1px solid #e2e2e2;line-height:28px;margin-right:5px;}
.three_a .a_1{background:url(../images/zsg.png) no-repeat;}
.three_a .a_2{background:url(../images/zsg.png) 0 -28px no-repeat;}
.three_a .a_3{background:url(../images/zsg.png) 0 -56px no-repeat;}

.count_list{width:140px;height:135px;float:left;line-height:135px;text-align:center;margin-left:34px;}
.count_list a{width:30px;height:30px;display: inline-block;vertical-align:middle;}
.count_list input{width:28px;height:28px;line-height:28px;text-align:center;color:#999;border:1px solid #e2e2e2;vertical-align:middle;}
.count_list .reduce_a{background:url(../images/plus_and_reduce.png) no-repeat;}
.count_list .add_plus{background:url(../images/plus_and_reduce.png) 0 -30px no-repeat;}

.div_price{width:140px;height:90px;float:left;text-align:center;padding-top:45px;}
.div_price p{line-height:22px;color:#999;font-size:13px;}

/*积分*/
.jfen{width:140px;height:80px;float:left;text-align:center;padding-top:58px;color:#999;}

.jiMoney{width:130px;height:80px;float:left;text-align:center;padding-top:58px;color:#f63;font-weight:800;font-size:16px;}

